<mat-toolbar class="custom-bg-color">
    <span style="color: white;">Confirmation</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
        <mat-icon style="color: white;">close</mat-icon>
    </button>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <h4><b>Are you want to {{details.message}}</b></h4>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button style="background-color: #04364A; color: white;" mat-raised-button (click)="handleChangeAction()">
        <mat-icon>check_circle</mat-icon>Yes
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon>No
    </button>
</mat-dialog-actions>
