.mat-h6,  .mat-headline, .mat-typograpy h4{
    font-size: 18px;
    font-weight: 400;
}

.mat-toolbar{
    margin: 14px;
    margin-bottom: 10px;
    width: auto;
}

.custom-bg-color{
    background-color: #04364A;
}